@model Messages

@{
    ViewData["Title"] = "Alaqa";
}
<div class="box"></div>

<section>
    <div class="container">
        <div class="alaqa-general-main" data-aos="fade-up" data-aos-duration="1000">
            <p class="alaqa-heading text-center">Əlaqə</p>
            <div class="row alaqa-main g-0">
                <div class="col-12 col-lg-6 col-xl-7 ">

                    <div class="left">
                        <p>Bizə yaza bilərsiniz</p>
                        @using (Html.BeginForm("Alaqa", "Home", FormMethod.Post, new { @class = "row form-partner g-1 gx-5" }))
                        {
                            <div class="col-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "Ad" })
                                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                    <label for="floatingInput" class="labels">Ad</label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Soyad" })
                                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                    <label for="floatingInput" class="labels">Soyad</label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Telefon nömrəsi", type = "number" })
                                    @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                                    <label for="floatingInput" class="labels">Telefon nömrəsi</label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", placeholder = "E-mail", type = "email" })
                                    @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
                                    <label for="floatingInput" class="labels">E-mail</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Mövzu" })
                                    @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })
                                    <label for="floatingInput" class="labels">Mövzu</label>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    @Html.TextAreaFor(x => x.Message, new { @class = "form-control", placeholder = "Mesajınız" })
                                    @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })

                                    <label for="floatingInput" class="labels">Mesajınız</label>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit"
                                        class="btn btn-send d-flex align-items-center justify-content-center">
                                    Göndər
                                </button>
                            </div>
                        }
                    </div>
                </div>
                
                @await Component.InvokeAsync("Contact")


            </div>
        </div>
    </div>
</section>
